:root {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    --light-color: #F5F5F7;
    --dark-color: #221f20;
    --container-padding-horizontal: 13%;
    --footer-padding-horizontal: 10%;

    @media screen and (max-width: 768px) {
        --container-padding-horizontal: 6%;
        --footer-padding-horizontal: 6%;
    }

    @media screen and (max-width: 375px){
        --container-padding-horizontal: 15px;
        --footer-padding-horizontal: 15px;
        
    }

    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
margin: 0;
}

ol[role="list"], ul[role="list"] {
list-style: none;
padding-inline: 0;
}

h1, h2, h3, h4, h5 {
font-size: inherit;
font-weight: inherit;
}

img {
display: block;
max-inline-size: 100%;
}

.container{
    padding: 0 var(--container-padding-horizontal);
}

.promo{
    min-height: 100vh;
    background: url("../img/Bg.jpg") center center / cover no-repeat;
    padding-top: 75px;
    position: relative;

    @media screen and (max-width: 768px) {
        &{
            background-image: url("../img/tablet_bg.jpg");
        }
        
    }

    @media screen and (max-width: 576px){
        &{
            min-height: 500px;
            padding-top: 50px;
        }
        
    }


}

.promo__title{
    color: green;
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;
    color: var(--light-color);
    @media screen and (max-width: 768px) {
        &{
            font-size: 48px;
        }
    }

    @media screen and (max-width: 576px) {
        &{
            font-size: 26px;
        }
    }
}

.promo__subtitle{
    margin-top: 124px;
    font-weight: 100;
    font-size: 32px;
    color: var(--light-color);

    @media screen and (max-width: 768px){
        &{
            margin-top: 80px;
        }
    }

    @media screen and (max-width: 576px) {
        &{
            margin-top: 30px;
            font-size: 16px;
        }
    }
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 3px 10px;
    width: 160px;
    min-height: 38px;
    background: rgba(217, 217, 217, 0);
    border: 1px solid var(--light-color);
    font-weight: 100;
    font-size: 16px;
    color: var(--light-color);
    cursor: pointer;
    transition: all 0.3s ease-out;

    @media screen and (max-width: 576px) {
        &{
            font-size: 14px;
            width: 120px;
            min-height: 30px;
        }
        
    }
}

.btn:hover{
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
    font-weight: 500;
    
}

.promo__address{
    position: relative;
    margin-top: 100px;
    font-weight: 100;
    font-size: 16px;
    color: var(--light-color);

    address{
        font-style: normal;
    }

    a{
        text-decoration: none;
        color: inherit;
    }
    &::before{
        position: absolute;
        top: -10px;
        left: -45px;
        content: "";
        display: block;
        width: 40px;
        height: 49px;
        background: url(../icons/Arrow.svg) center center / cover no-repeat;
    }
    @media screen and (max-width: 768px) {
        &{
            margin-top: 80px;
        }

        &::before{
            left: -40px;
        }
    }

    @media screen and (max-width: 750px){
        &::before{
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        &{
            margin-top: 210px;
        }
        
    }
}

.keywords{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0px;
    padding: 0 360px;
    width: 100%;
    height: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);
    li{
        list-style-type: none;
        font-weight: 100;
        font-size: 10px;
        color: var(--light-color);
    }

    @media screen and (max-width: 1440px) {
        &{
            padding: 0 20px;
        }
    }
    
    @media screen and (max-width: 768px) {
        & li:nth-last-child(-n + 6){
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        &{
            margin-top: 10px;
        }
        & li:nth-last-child(-n + 11){
            display: none;
        }
    }
}

.expectations{
    padding-top: 80px;
    background-color: var(--light-color);
    @media screen and (max-width: 576px) {
        padding-top: 50px;
    }
}

.expectation__title{
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    color: var(--dark-color);
}

.expectations__paragraph{
    max-width: 1100px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 40px;
    color: var(--dark-color);
    span{
        color: #a5a5a5;
    }

    @media screen and (max-width: 768px) {
        &{
         font-size: 24px;
        }
    }

    @media screen and (max-width: 576px) {
        &{
         font-size: 16px;
        }
    }
}

.services{
    margin-top: 80px;
    display: flex;
    column-gap: 10px;
    font-weight: 400;
    color: var(--dark-color);

    @media screen and (max-width: 768px) {
        margin-top: 40px;
        flex-wrap: wrap;
        row-gap: 40px;
    }

    @media screen and (max-width: 576px) {
        margin-top: 20px;
    }
}

.left__service{
    width: 50%;
    font-size: 16px;
    span{
        font-style: italic;
    }
    p{
        margin-top: 10px;
    }
    .first_service{
        margin-top: 20px;
    }

    ul{
        list-style-type: none;
        margin-top: 20px;
        padding: 0;
        li{
            position: relative;
            font-size: 16px;
            margin-top: 10px;

            &:first-child::before{
                content: "";
                display: block;
                position: absolute;
                top: 5px;
                left: -30px;
                width: 15px;
                height: 15px;
                background: url("../icons/Camera.svg") center center / cover no-repeat;
            }

            &:last-child::before{
                content: "";
                display: block;
                position: absolute;
                top: 5px;
                left: -30px;
                width: 15px;
                height: 15px;
                background: url("../icons/Edit.svg") center center / cover no-repeat;
            }
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    @media screen and (max-width: 576px) {
        & ul li:first-child::before{
            display: none;
        }

        & ul li:last-child::before{
            display: none;
        }
    }
}

.right__service{
    width: 50%;
    font-size: 20px;
    letter-spacing: 0.02em;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    @media screen and (max-width: 576px) {
        font-size: 12px;
    }
}

.works{
    background-color: var(--light-color);
    padding-top: 80px;
    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }

}

.works__title{
    font-weight: 400;
    font-size: 40px;
    color: var(--dark-color);
    text-align: center;

    @media screen and (max-width: 768px) {
        font-size: 36px;
    }

    @media screen and (max-width: 576px) {
        font-size: 24px;
    }
}

.works__grid-container{
    margin-top: 50px;
    display: grid;
    grid-template: repeat(2, 1fr) 1.5fr/ 1fr 1fr;
    gap: 50px 30px;

    img{
        width: 100%;
        height: 100%;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        object-fit: cover;

    }

    @media screen and (max-width: 768px) {
        margin-top: 40px;
        gap: 30px 20px;
    }

    @media screen and (max-width: 576px) {
        grid-template-row: repeat(4, 1fr) 1.5fr;
        grid-template-columns: 1fr;

    }
}

.inspiration{
    padding: 80px 0 100px;
    background-color: var(--light-color);

    @media screen and (max-width: 768px) {
        padding: 50px 0;
    }
}

.inspiration__title{
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    color: var(--dark-color);

    @media screen and (max-width: 768px) {
        font-size: 36px;
    }
}

.inspiration__grid-container{
    margin-top: 53px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 30px;

    img{
        width: 100%;
        height: 100%;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);

    }
    #tenement{
        grid-column: 4;
        grid-row: 1 / 3;
    }

    #sky{
        grid-column: 2 / 4;
    }

    @media screen and (max-width: 768px) {
        font-size: 36px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 30px 20px;

        #tenement{
            grid-column: 2;
            grid-row: 2 / 4;
        }

        #sky{
            grid-column: 1 / 3;
            grid-row: 4 / 5;
        }
    }

    @media screen and (max-width: 576px) {
        font-size: 24px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;

        #tenement{
            grid-column: auto;
            grid-row: 4 / 6;
        }

        #sky{
            grid-column: auto;
            grid-row: 7;
        }
    }
}

.customers__title{
    margin-top: 80px;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    color: var(--dark-color);

    @media screen and (max-width: 768px) {
        margin-top: 50px;
        font-size: 36px;
    }

    @media screen and (max-width: 576px) {
        font-size: 24px;
    }
}

.customers__wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 30px;
    align-items: top;

    img{
        box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.25);
        width: calc((100% - 90px) / 4);
    }

    @media screen and (max-width: 768px) {
        margin-top: 40px;
        gap: 20px;
    }

    @media screen and (max-width: 576px) {
        margin-top: 30px;
        gap: 20px 36px;
        img{
            width: calc((100% - 36px) / 2);
        }
    }
}

.footer{
    background-color: #000;
    padding: 88px 0;

    @media screen and (max-width: 768px) {
        padding: 30px 0 40px;
    }
    .container{
        padding: 0 var(--footer-padding-horizontal);
    }
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;


        .social-networks{
            display: flex;
            gap: 30px;

            a{
                width: 32px;
                height: 32px;
                border: 1px solid #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        address{
            font-weight: 400;
            font-size: 20px;
            color: var(--light-color);
            font-style: normal;

            @media screen and (max-width: 768px) {
                font-size: 16px;
            }

        }

        .address{
            @media screen and (max-width: 576px) {
                order: 3;
            }
        }

        .telefone a{
            font-weight: 400;
            font-size: 20px;
            color: var(--light-color);
            text-decoration: none;

            @media screen and (max-width: 768px) {
                font-size: 16px;
            }
        }

        .telefone{
            @media screen and (max-width: 576px) {
                order: 2;
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: start;
            row-gap: 30px;
        }

        @media screen and (max-width: 576px) {
            align-items: center;
        }
    }
    
}
.underline{
    span{
        position: relative;
    }
    span::after{
        position: absolute;
        bottom: 0;
        right: 0;
        content: "";
        display: block;
        width: 75px;
        height: 2px;
        background-color: #000;
    }
}

